# Google Doc id (extract from URL: docs.google.com/document/d/<DOC_ID>/edit)
# Doc must be shared as "Anyone with the link: Viewer".
# Doc format: sections (## new / ## learned / ## ignored) with word lines
# per line: en | translation | phrase | phrase translation

VITE_VOCAB_DOC_ID=
