# Google Doc IDs (extract from URL: docs.google.com/document/d/<DOC_ID>/edit)
# Docs must be shared as "Anyone with the link: Viewer".
# Doc format per line: en | translation | phrase | phrase translation

VITE_VOCAB_DOC_ALL_ID=
VITE_VOCAB_DOC_LEARNED_ID=
VITE_VOCAB_DOC_UNLEARNED_ID=
